body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
}

button {
  background-color: cornflowerblue;
  color: white;
  border-radius: 50%;
  border-color: white;
}

button:hover {
  background-color: red;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#scores-header {
  display: flex;
  align-items: center;
}

#scores-header h2 {
  margin-right: 10px;
}

#scores {
  border: solid black 1px;
}

#scores div:nth-child(odd) {
  background: rgba(180, 180, 180, 0.568);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form > * {
  margin-bottom: 5px;
}
